{% extends "base.html" %}
{% block content %}

<div class="text-center">
    <h1>{{ studio.name }}</h1> <h2>Cash: {{ studio.cash }}</h2> <h2>{{ system.currentDate }}</h2>
</div>
<hr>
<div class="row">
    <div class="col-4">
        <h3>Add new movie</h3>
        <form method="post">
            <input type="text" placeholder="Big Fish" name="title" value="{{
                request.form.title }}">
            <div class="form-group input-sm">
                    <label for="genreSelect">Genre</label>
                    <select class="form-control" id="genreSelect" name="genre" value="{{ request.form.genre }}">
                        <option>Fantasy</option>
                        <option>Drama</option>
                        <option>Sci-Fi</option>
                        <option>Horror</option>
                        <option>Comedy</option>
                        <option>War</option>
                        <option>Action</option>
                    </select>
                    </div> 
            <input type="number" placeholder="Budget" min=1 max="{{ studio.cash }}" name="budget" value="{{
                request.form.budget }}"> <br>
            <input class="btn btn-default" type="submit"> 
        </form>
    </div>
    <div class="col-8 text-center">
        <h3>Your movies </h3>
        {% for movie in movies %}
        <a class="btn btn-secondary btn-block" href= "/movie/{{ movie.title }}">
            <strong>Title: </strong> {{ movie.title }} <br>
            <strong>Genre: </strong> {{ movie.genre }}<br>
            <strong>Release date: </strong> {{ movie.release_date }} <br>
            <strong>Budget: </strong> {{ movie.budget }}<br>
            </a>
            <hr>
        {% endfor %}
    </div>
</div>

{% endblock %}