:root { /* configure color vars */
  --purple: rgb(146, 79, 233);
  --blue: #3F66AF;
  --ice: #89D2DC;
  --green: #15B280;
  --red: #ED1C24;
  --light-grey: #dfdfdf;
  --dark-grey: rgb(52, 58, 64);
  --text-grey: rgb(182, 198, 206);
}

body {
  background-color: var(--light-grey);
}

.navbar-brand {
  margin-right: 6%;
}

/* IDK why !important is needed here, but it doesn't work without it */
.holidayDate a {
  background-color: rgba(50, 241, 63, 0.473) !important;
  background-image :none !important;
  color: #ffffff !important;
}
.movieDate a {
  background-color: rgb(223, 82, 17) !important;
  background-image :none !important;
  color: #ffffff !important;
}
.fridayDate a {
  background-color: rgb(5, 66, 24) !important;
  background-image :none !important;
  color: #ffffff !important;
}

/* Override highlighting of the current date */
.ui-state-highlight {
    border: 1px solid #d3d3d3 !important;
    background-color: rgb(246,246,246)!important;
    color: rgb(69,69,69) !important;
}

.btn-schedule {
  color: var(--text-grey);
  background-color: var(--dark-grey);
}

.border-schedule {
  border-style: solid;
  border-width: 1.5px;
  border-radius: 2px;
  border-color: var(--purple);
}

.text-custom { /* Hate this, but it works */
  color: var(--text-grey)!important;
}
.active-custom {
  color: white!important;
}