{% extends "base.html" %}
{% block head %}
<script src="/static/datepicker.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
    runDatepicker("{{ movie.getProductionEnd() }}", "{{ system.dates|safe }}");
</script>
{% endblock %}

{% block content %}
<div class="text-center">
    <h2>{{ movie.title }} ({{ movie.status }})</h2>
</div>
<div class="row pt-3">
    <div class="col-sm text-center">
        <h3>Data</h3>
        <table class="table">
        <img src="{{ movie.poster }}"> <br>
        <tr><td><strong>Studio: </strong></td> <td>{{ movie.studio }} </td></tr>
        <tr><td><strong>Genre: </strong></td> <td>{{ movie.genre }} </td></tr>
        <tr><td><strong>Budget: </strong></td><td>{{ movie.budget }} </td> </tr>
        <tr><td><strong>Status: </strong></td> <td>{{ movie.status }} </td></tr>
        <tr><td><strong>Release date: </strong></td> <td>{{ movie.release_date }} </td></tr>
        <tr><td><strong>Began production: </strong></td> <td>{{ movie.production_date }}</td> </tr>
        <tr><td><strong>End pre-production: </strong></td> <td>{{ movie.getPreProEnd() }} </td></tr>
        <tr><td><strong>End filming: </strong></td> <td>{{ movie.getFilmingEnd() }} </td></tr>
        <tr><td><strong>End post-production: </strong></td> <td>{{ movie.getProductionEnd() }} </td></tr>
        <tr><td><strong>Scale: </strong></td> <td>{{ movie.getScale() }} </td></tr>
        {% if movie.status == "Released" %}
        <tr><td><strong>Domestic gross: </strong></td> <td>{{ movie.dom_gross }} </td></tr>  
        <tr><td><strong>China gross: </strong></td> <td>{{ movie.china_gross }} </td></tr> 
        <tr><td><strong>Worldwide gross: </strong></td> <td>{{ movie.int_gross }} </td></tr>   
        {% endif %}
        </table>
    </div>

    <div class="col-sm text-center">
    {% if movie.status == "Released" or movie.status == "Closed" %}
    <h3>Stats</h3>
        <canvas id="myChart" width="400" height="400"></canvas>
        <script>
            var results = '{{ system.results|safe }}';
            let resultsArray = results.replace('[','').replace(']','').split(",");
            console.log(resultsArray);
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: resultsArray,
                    datasets: [{
                        label: 'Daily gross',
                        data: resultsArray,
                        backgroundColor: '#082656',
                        borderWidth: 1,
                    }],
                    borderWidth: 1,
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
    {% endif %}
    {% if user.studio == movie.studio %}
        <h3>Actions</h3>
        {% if movie.status != "Released" and movie.status != "Closed" %}
        <form method="post">
            <div class="form-group">
                <label for="releaseDate">Change release date</label><br>
                Date: <input type="text" id="calendar" name="release_date">
                <input type="submit" name="submit_button" value="Change date">
            </div>
            <!-- <div class="form-group">
                <label for="releaseDate">Change international release date (Friday only)(3M)</label><br>
                <input type="date" id="releaseDate" name="release_date" min="{{ movie.end_date }}" value="{{
                request.form.date }}">
                <input type="submit" name="submit_button" value="Change int date">
            </div>
            <div class="form-group">
                <label for="releaseDate">Change China release date (Friday only)(5M)</label><br>
                <input type="date" id="releaseDate" name="release_date" min="{{ movie.end_date }}" value="{{
                request.form.date }}">
                <input type="submit" name="submit_button" value="Change china date">
            </div> <br>  -->
        </form>
        <form method="post">
            <input type="submit" name="submit_button" value="Release trailer">
        </form>
        <form method="post">
            <input type="submit" name="submit_button" value="Cancel movie">
        </form>
        <br>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="poster">
            <input type="submit" name="submit_button" value="Change poster">
        </form>
    {% endif %}
    </div>
</div>

{% endblock %}