{% extends "base.html" %}
{% block content %}

<div class="text-center">
    <h2>{{ movie.title }} ({{ movie.status }})</h2>
</div>
<div class="row pt-3">
    <div class="col-6 text-center">
        <h3>Data</h3>
        <img src="{{ movie.poster }}"> <br>
        <strong>Studio: </strong> {{ movie.studio }} <br>
        <strong>Genre: </strong> {{ movie.genre }} <br>
        <strong>Budget: </strong> {{ movie.budget }} <br>
        <strong>Status: </strong> {{ movie.status }} <br>
        <strong>Release date: </strong> {{ movie.release_date }} <br>
        <strong>Began production: </strong> {{ movie.production_date }} <br>
        <strong>End pre-production: </strong> {{ movie.pre_production_end }} <br>
        <strong>End filming: </strong> {{ movie.filming_end}} <br>
        <strong>End post-production: </strong> {{ movie.end_date }} <br>
        <strong>Scale: </strong> {{ movie.scale }} <br>
    </div>

    {% if user.studio == movie.studio %}
    <div class="col-6 text-center">
            <h3>Actions</h3>
        <form method="post">
            <div class="form-group">
                <label for="releaseDate">Change release date (Friday only)</label><br>
                <input type="date" width="20 vw" id="releaseDate" name="release_date" required="true" min="{{ movie.end_date }}" value="{{
                request.form.date }}">
                <input type="submit" name="submit_button" value="Change date">
            </div>
            <div class="form-group">
                <label for="releaseDate">Change international release date (Friday only)(3M)</label><br>
                <input type="date" id="releaseDate" name="release_date" required="true" min="{{ movie.end_date }}" value="{{
                request.form.date }}">
                <input type="submit" name="submit_button" value="Change int date">
            </div>
            <div class="form-group">
                <label for="releaseDate">Change China release date (Friday only)(5M)</label><br>
                <input type="date" id="releaseDate" name="release_date" required="true" min="{{ movie.end_date }}" value="{{
                request.form.date }}">
                <input type="submit" name="submit_button" value="Change china date">
            </div> <br> 
        </form>
        <form method="post">
            <input type="submit" name="submit_button" value="Release trailer">
        </form>
        <form method="post">
            <input type="submit" name="submit_button" value="Cancel movie">
        </form>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="poster">
            <input type="submit" name="submit_button" value="Change poster">
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}