{% extends "base.html" %}
{% block head %}
<script src="/static/datepicker.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="/static/movie-graph.js"></script>
<script>
    runDatepicker("{{ movie.getProductionEnd() }}", "{{ data['dates']|safe }}");
</script>
{% endblock %}

{% block content %}
<div class="text-center">
    <h2>{{ movie.title }} ({{ movie.status }})</h2>
</div>
<div class="row pt-3">
    <div class="col-md-6 text-center">
    <img src="{{ movie.poster }}"> <br>
    <h3>{{ movie.title }}</h3>
    <h5>Presented by {{ movie.studio }}</h5>
    {% if movie.release_date %}
        <h5>{{ movie.release_date }}</h5>
    {% endif %}
    <hr>

    {% if user.studio == movie.studio %}
        <h3>Actions</h3>
        {% if movie.status == "Pre-production" or movie.status == "Filming" or movie.status == "Post-production" %}
        <a class="btn btn-secondary" data-toggle="collapse" href="#controlsProduction" role="button" aria-expanded="false" aria-controls="controlsProduction">
            Production
        </a>
        <div class="collapse" id="controlsProduction">
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="poster">
                <input type="submit" name="submit_button" value="Change poster">
            </form>
            <hr>
        </div>
        {% endif %}
        {% if movie.status != "Released" and movie.status != "Closed" %}
        <a class="btn btn-secondary" data-toggle="collapse" href="#controlsMarketing" role="button" aria-expanded="false" aria-controls="controlsMarketing">
            Marketing
        </a>
        <div class="collapse" id="controlsMarketing">
                <form method="post">
                    <div class="form-group">
                        <label for="releaseDate">Change release date</label><br>
                        Date: <input type="text" id="calendar" name="release_date">
                        <input type="submit" name="submit_button" value="Change date">
                    </div>
                    <!-- <div class="form-group">
                        <label for="releaseDate">Change international release date (Friday only)(3M)</label><br>
                        <input type="date" id="releaseDate" name="release_date" min="{{ movie.end_date }}" value="{{
                        request.form.date }}">
                        <input type="submit" name="submit_button" value="Change int date">
                    </div>
                    <div class="form-group">
                        <label for="releaseDate">Change China release date (Friday only)(5M)</label><br>
                        <input type="date" id="releaseDate" name="release_date" min="{{ movie.end_date }}" value="{{
                        request.form.date }}">
                        <input type="submit" name="submit_button" value="Change china date">
                    </div> <br>  -->
                </form>
                {% if movie.trailers == 0 %}
                    <form method="post">
                        <input type="submit" name="submit_button" value="Release trailer">
                        <span class="text-danger">${{ data['consts'].TRAILER_COST }}</span>
                    </form>
                    <br>
                {% endif %}
                <form method="post">
                    <input type="submit" name="submit_button" value="Cancel movie">
                </form>
            <hr>
        </div>
        {% endif %}

        <a class="btn btn-secondary" data-toggle="collapse" href="#controlsOther" role="button" aria-expanded="false" aria-controls="controlsOther">
            Other
        </a>
        <div class="collapse" id="controlsOther">
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="poster">
                <input type="submit" name="submit_button" value="Change poster">
            </form>
            <hr>
        </div>
    {% endif %}
    </div>
    <div class="col-md-6 text-center">
        {% if movie.status == "Released" or movie.status == "Closed" %}
        <h3>Stats</h3>
            <canvas id="myChart" width="400" height="400"></canvas>
            <script>
                runGraph("{{ data['resultsList']|safe }}");     
            </script>
            <hr>
        {% endif %}
        <h3>Data</h3>
        <table class="table">
        <tr><td><strong>Studio: </strong></td> <td>{{ movie.studio }} </td></tr>
        <tr><td><strong>Genre: </strong></td> <td>{{ movie.genre }} </td></tr>
        <tr><td><strong>Budget: </strong></td><td>{{ movie.budget }} </td> </tr>
        <tr><td><strong>Status: </strong></td> <td>{{ movie.status }} </td></tr>
        <tr><td><strong>Release date: </strong></td> <td>{{ movie.release_date }} </td></tr>
        <tr><td><strong>Began production: </strong></td> <td>{{ movie.production_date }}</td> </tr>
        <tr><td><strong>End pre-production: </strong></td> <td>{{ movie.getPreProEnd() }} </td></tr>
        <tr><td><strong>End filming: </strong></td> <td>{{ movie.getFilmingEnd() }} </td></tr>
        <tr><td><strong>End post-production: </strong></td> <td>{{ movie.getProductionEnd() }} </td></tr>
        <tr><td><strong>Scale: </strong></td> <td>{{ movie.getScale() }} </td></tr>
        <tr><td><strong>Spent on advertising: </strong></td> <td>{{ movie.advertising_spent }} </td></tr>
        {% if movie.status == "Released" %}
            <tr><td><strong>Domestic gross: </strong></td> <td>{{ movie.dom_gross }} </td></tr>  
            <tr><td><strong>China gross: </strong></td> <td>{{ movie.china_gross }} </td></tr> 
            <tr><td><strong>Worldwide gross: </strong></td> <td>{{ movie.int_gross }} </td></tr>   
        {% endif %}
        </table>
        <hr>
    </div>
</div>

{% endblock %}