{% extends "base.html" %}
{% block head %}
<script src="static/datepicker.js"></script> 
<script>
    runDatepicker("{{ system.currentDate }}", "{{ dates|safe }}");
    console.log("{{ system.currentDate }}");
</script>
{% endblock %}


{% block content %}

<div class="row pt-3">
    <div class="col-2">
        <a class="btn btn-secondary btn-block" href= "/boxoffice/{{ offset - 7 }}">Previous</a>
    </div>
    <div class="col-8 text-center">
        <h1>Results</h1>
    </div>
    <div class="col-2">
        <a class="btn btn-secondary btn-block" href= "/boxoffice/{{ offset + 7 }}">Next</a>
    </div>
</div>

{% for result in results %}
<div class="row">
    <div class="col">
        <a href="/movie/{{ result.movie }}">{{ result.movie }}</a>
    </div>
    <div class="col">
        {{ result.movie_gross }}
    </div>
    <div class="col">
        {{ result.date }}
    </div>
</div>
{% endfor %}

<p>Date: <input type="text" id="calendar"></p>

{% endblock %}