{% extends "base.html" %}
{% block head %}
<style>
.event a {
  background-color: #42B373 !important;
  background-image :none !important;
  color: #ffffff !important;
}
</style>
<script type="text/javascript">
    jQuery(document).ready(function() {
        
        var eventDates = {};
        eventDates[ new Date( '6/20/2019' )] = new Date( '6/20/2019' ).toString();
        eventDates[ new Date( '6/25/2019' )] = new Date( '6/25/2019' ).toString();

        jQuery('#calendar').datepicker({
            beforeShowDay: function( date ) {
                var highlight = eventDates[date];
                if( highlight ) {
                     return [true, "event", highlight];
                } else {
                     return [true, '', ''];
                }
             },
             changeYear: true,
             numberOfMonths: 3,
             showOtherMonths: true,
        });
        $( "#calender" ).datepicker( "setDate", "10/12/2012" );
    });
</script>
{% endblock %}


{% block content %}

<div class="row pt-3">
    <div class="col-2">
        <a class="btn btn-secondary btn-block" href= "/boxoffice/{{ offset - 7 }}">Previous</a>
    </div>
    <div class="col-8 text-center">
        <h1>Results</h1>
    </div>
    <div class="col-2">
        <a class="btn btn-secondary btn-block" href= "/boxoffice/{{ offset + 7 }}">Next</a>
    </div>
</div>

{% for result in results %}
<div class="row">
    <div class="col">
        <a href="/movie/{{ result.movie }}">{{ result.movie }}</a>
    </div>
    <div class="col">
        {{ result.movie_gross }}
    </div>
    <div class="col">
        {{ result.date }}
    </div>
</div>
{% endfor %}

<p>Date: <input type="text" id="calendar"></p>

{% endblock %}