{% extends "base.html" %}
{% set active_page = "boxOffice" %}

{% block head %}
<script src="/static/library/chart.js"></script>
<script src="/static/boxoffice-graph.js"></script>
{% endblock %}

{% block content %}

<div class="row mt-3">
    <div class="col-sm-12 text-center">
        {% if data['type'] == 'daily' %}
            <h2>Results for {{ data['date'] }}</h2>
        {% else %}
            <h2>Results for {{ data['startdate'] }} - {{ data['date'] }}</h2>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-sm-2 text-center mt-2">
        {% if data['type'] == 'weekly' %}
            <a class="btn btn-secondary btn-block" href= "/boxoffice/weekly/{{ offset - 1 }}">Previous</a>
        {% endif %}
        {% if data['type'] == 'weekend' %}
            <a class="btn btn-secondary btn-block" href= "/boxoffice/weekend/{{ offset - 1 }}">Previous</a>
        {% endif %}
        {% if data['type'] == 'daily' %}
            <a class="btn btn-secondary btn-block" href= "/boxoffice/daily/{{ offset - 1 }}">Previous</a>
        {% endif %}
    </div>
    <div class="col-sm-8"></div>
    <div class="col-sm-2 text-center mt-2">
        {% if data['type'] == 'weekly' %}
            <a class="btn btn-secondary btn-block" href= "/boxoffice/weekly/{{ offset + 1 }}">Next</a>
        {% endif %}
        {% if data['type'] == 'weekend' %}
            <a class="btn btn-secondary btn-block" href= "/boxoffice/weekend/{{ offset + 1 }}">Next</a>
        {% endif %}
        {% if data['type'] == 'daily' %}
            <a class="btn btn-secondary btn-block" href= "/boxoffice/daily/{{ offset + 1 }}">Next</a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-sm text-center mt-2">
        {% if data['type'] == 'weekly' %}
            <a class="btn btn-secondary text-custom {{ 'active-custom' if data['type'] == 'weekend' else '' }}" href="/boxoffice/weekend/{{ offset }}">Weekend</a>
            <a class="btn btn-secondary text-custom {{ 'active-custom' if data['type'] == 'weekly' else '' }}" href="/boxoffice/weekly/{{ offset }}">Weekly</a>
            <a class="btn btn-secondary text-custom {{ 'active-custom' if data['type'] == 'daily' else '' }}" href="/boxoffice/daily/{{ offset * 7 }}">Daily</a>
        {% endif %}
        {% if data['type'] == 'weekend' %}
            <a class="btn btn-secondary text-custom {{ 'active-custom' if data['type'] == 'weekend' else '' }}" href="/boxoffice/weekend/{{ offset }}">Weekend</a>
            <a class="btn btn-secondary text-custom {{ 'active-custom' if data['type'] == 'weekly' else '' }}" href="/boxoffice/weekly/{{ offset }}">Weekly</a>
            <a class="btn btn-secondary text-custom {{ 'active-custom' if data['type'] == 'daily' else '' }}" href="/boxoffice/daily/{{ offset * 7 }}">Daily</a>
        {% endif %}
        {% if data['type'] == 'daily' %}
            <a class="btn btn-secondary text-custom {{ 'active-custom' if data['type'] == 'weekend' else '' }}" href="/boxoffice/weekend/{{ (offset/7) | int }}">Weekend</a>
            <a class="btn btn-secondary text-custom {{ 'active-custom' if data['type'] == 'weekly' else '' }}" href="/boxoffice/weekly/{{ (offset/7) | int }}">Weekly</a>
            <a class="btn btn-secondary text-custom {{ 'active-custom' if data['type'] == 'daily' else '' }}" href="/boxoffice/daily/{{ offset }}">Daily</a>
        {% endif %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6">
        <canvas id="myChart" width="400" height="400"></canvas>
        <script>
            var data = '{{ data["results_arr"] | safe }}';
            var titles =  "{{ data['titles']  | safe }}";
            runGraph(data, titles);     
        </script>
    </div>
    <div class="col-sm-6">
        {% for result in data['results'] %}
        <div class="row">
            <div class="col-sm">
                <a href="/movie/{{ result.movie }}">{{ result.movie }}</a>
            </div>
            <div class="col-sm">
                {{ result.movie_gross|round(2) }}M
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}