{% extends "base.html" %}
{% set active_page = "schedule" %}
{% block content %}

<div class="row pt-3">
    <div class="col-sm-2">
        <a class="btn btn-schedule btn-block" href= "/schedule/{{ offset - 28 }}">Previous</a>
    </div>
    <div class="col-sm-8 text-center">
        <h1>Release schedule</h1>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-schedule btn-block" href= "/schedule/{{ offset + 28 }}">Next</a>
    </div>
</div>
<div class="row">
    {% for day in movies %}
    <div class="col-sm border-schedule mt-1">
        <h5>{{ (system.currentDate + datetime.timedelta(days=offset)) + datetime.timedelta(days=((loop.index - 1) * 7)) }}</h5>
        <hr>
        {% for movie in movies[loop.index0] %}
            <a class="btn btn-secondary btn-block" href= "/movie/{{ movie.title }}">
            <strong>{{ movie.title }}</strong><br>
            {% if movie.poster %}
            <img src="{{ movie.poster }}" height="80px"><br>
            {% endif %}
            {{ movie.studio }}<br>
            {{ movie.genre }} <br>
            {{ movie.budget }}<br>
            </a>
            <hr>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}