<!DOCTYPE html>
<html>
    <head>
        <title>Box Office Studio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" medi="screen">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">Schedule</a>
                        <a class="nav-item nav-link" href="#">Studio</a>
                        <a class="nav-item nav-link" href="/logout">Logout</a>
                        </div>
                    </div>
                </nav>

            {% block content %}{% endblock %}

            {% if error %}
                <p class="error"><strong>Error:</strong>{{ error }}</p>
            {% endif %}

            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
        </div>
    </body>
</html>