{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col-2">
        {% if offset > 0 %}
        <a class="btn btn-secondary btn-block" href= "/schedule/{{ offset - 28 }}">Previous</a>
        {% endif %}
    </div>
    <div class="col-8 text-center">
        <h1>Release schedule</h1>
    </div>
    <div class="col-2">
        <a class="btn btn-secondary btn-block" href= "/schedule/{{ offset + 28 }}">Next</a>
    </div>
</div>
<div class="row">
    {% for day in movies %}
    <div class="col vl">
        <h5>{{ (system.currentDate + datetime.timedelta(days=offset)) + datetime.timedelta(days=((loop.index - 1) * 7)) }}</h5>
        <hr>
        {% for movie in movies[loop.index0] %}
            <a class="btn btn-secondary btn-block" href= "/movie/{{ movie.title }}">
            <strong>{{ movie.title }}</strong><br>
            {{ movie.studio }}<br>
            {{ movie.genre }} <br>
            {{ movie.budget }}<br>
            </a>
            <hr>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}