{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}

<h1>Front Page Header</h1>
<br>
<div class="row vl text-center">
    <div class="col-sm-4">
        <strong>News</strong>
        <hr>
        {% for post in news %}
            <a href="user/{{ post.name }}"> <h5>{{ post.name }}</h5> </a>
            <p>{{ post.email }}</p>
        {% endfor %}
    </div>
    <div class="col-sm-4">
        <strong>Changes</strong>
        <hr>
        {% for movie in moviechanges %}
            {% if movie.created %}
                <strong>Movie announced</strong>
                <small><p><a href="/movie/{{ movie.movie }}">{{ movie.movie }}</a> has been announced</p></small>
                <hr>
            {% else %}
                <strong>Movie canceled</strong>
                <small><p>{{ movie.movie }} has been canceled</p></small>
                <hr>
            {% endif %}
        {% endfor %}
        {% for date in dateChanges %}
            {% if date.oldDate != None %}
                <strong>Release date change</strong>
                <small><p><a href="/movie/{{ date.movie }}">{{ date.movie }}</a> moves to {{ date.newDate }} from {{ date.oldDate }}</p></small>
                <hr>
            {% else %}
                <strong>Movie scheduled</strong>
                <small><p><a href="/movie/{{ date.movie }}">{{ date.movie }}</a> sets release date to {{ date.newDate }}</p></small>
                <hr>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-sm-4">
        <strong>Box office</strong>
        <hr>
    </div>
</div>

{% endblock %}