{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}

<h1>Game date: {{ system.currentDate }}</h1>
<br>
<div class="row vl text-center">
    <div class="col-sm-4">
        <strong>News</strong>
        <hr>
        {% for post in data['news'] %}

        {% endfor %}
    </div>
    <div class="col-sm-4">
        <strong>Changes</strong>
        <hr>
        {% for movie in data['changes'] %}
            {% if movie.created %}
                <strong>Movie announced</strong>
                <small><p><a href="/movie/{{ movie.movie }}">{{ movie.movie }}</a> has been announced</p></small>
                <hr>
            {% else %}
                <strong>Movie canceled</strong>
                <small><p>{{ movie.movie }} has been canceled</p></small>
                <hr>
            {% endif %}
        {% endfor %}
        {% for date in data['dateChanges'] %}
            {% if date.oldDate != None %}
                <strong>Release date change</strong>
                <small><p><a href="/movie/{{ date.movie }}">{{ date.movie }}</a> moves to {{ date.newDate }} from {{ date.oldDate }}</p></small>
                <hr>
            {% else %}
                <strong>Movie scheduled</strong>
                <small><p><a href="/movie/{{ date.movie }}">{{ date.movie }}</a> sets release date to {{ date.newDate }}</p></small>
                <hr>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-sm-4">
        <strong>Yesterday's box office</strong>
        <hr>
        {% for result in data['boxOffice'] %}
            <strong>{{ result.movie }}:</strong>
            {{ result.movie_gross }}
            <hr>
        {% endfor %}
    </div>
</div>

{% endblock %}